/*Định dạng dialog*/



.m-dialog {
    position: relative;
    z-index: 100;
}


    .m-dialog .dialog-content {
        position: absolute;
        width: 800px;
        height: 597px;
        border-radius: 5px;
        background: #ffffff;
        z-index: 21;
        left: calc(50% - 400px);
        bottom: calc(50% - 750px);
    }


.infor-top-content {
    margin-left: 18px;
}

/*.dialog-content {
    resize: both;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content;
}*/
/*Title*/
.dialog-content {
    padding: 24px;
    padding-bottom: 0px;
}

    .dialog-content .dialog-title {
        display: flex;
        height: 20px;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
    }

        .dialog-content .dialog-title button {
            position: absolute;
            height: 20px;
            width: 20px;
            right: 0px;
            top: 0px;
            background-image: url('../../contents/icons/x.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            outline: none;
            padding: 5px;
            background-color: #ffffff;
            border-top-right-radius: 5px;
        }

            .dialog-content .dialog-title button:hover {
                background-color: #E5E5E5;
                border-radius: 4px;
            }


    /*======================AVATAR=================*/
    .dialog-content .dialog-infor-top {
        display: flex;
        height: 218px;
        width: 100%;
        margin-bottom: 24px;
    }

        .dialog-content .dialog-infor-top .dialog-avatar {
            width: 190px;
            margin-right: 0px;
        }

        .dialog-content .dialog-infor-top .avatar-icon {
            width: 190px;
            height: 190px;
            background-image: url('../../contents/images/default-avatar.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;
            border: 1px solid #BBBBBB;
            /* margin-right: 10px; */
        }

        .dialog-content .dialog-infor-top .avatar-type {
            text-align: center;
        }



        .dialog-content .dialog-infor-top .dialog-infor {
            width: 300px;
        }

        .dialog-content .dialog-infor-top .infor-top-2 {
            margin: 0px 16px;
        }

.radio-gender {
    margin-top: 18px !important;
    margin-left: -50px;
}
/*====================*/
.dialog-content .dialog-infor-center-1, .dialog-infor-center-2 {
    display: flex;
    height: 65px;
    width: 100%;
    margin-bottom: 16px;
}


.dialog-content .dialog-infor-center-2 {
    height: 65px;
    width: 100%;
}

.dialog-content .dialog-infor-center-3 {
    height: 65px;
    width: 100%;
    margin-bottom: 24px;
}

.dialog-content .dialog-footer {
    position: absolute;
    display: flex;
    background-color: #E9EBEE;
    height: 60px;
    width: 100%;
    left: 0px;
    border-radius: 0 0 5px 5px;
}

.dialog-footer .btn-cancel label {
    margin-left: 17px;
}
    .fa-save {
        font-size: 15px;
        margin-right: 10px;
    }

form {
    margin-right: 16px;
}

.m-dialog input:focus {
    outline: none;
    border-color: #019160;
}