/*=======================Định dạng bảng/GRID hiển thị dữ liệu======================================*/

.content .content-grid {
    margin-left: 16px;
    position: relative;
    margin-top: -10px;
}

table {
    border-collapse: collapse;
    width: 100.5%;
}

    table th {
        position: sticky;
        top: 0px;
        background: #fff;
    }

    table th, td {
        border-bottom: 1pt solid #bbbbbb;
        padding: 0px 16px;
        text-align: left;
        /*Chuyển overflow thành 3 chấm*/
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 48px;
    }

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 215px;
}

.grid-scroll {
    height: calc(100vh - 240px);
    overflow: auto;
}

/*Tô màu hàng*/
/*tr:nth-child(even) {
    background: #F5F5F5;
}*/

tr:hover {
    background: #E9EBEE;
}
