/*Xử lý popup chung*/
.popup {
    position: relative;
    z-index: 202;
}

    .popup .popup-2 {
        position: absolute;
        left: calc(50% - 220px);
        background-color: #fff;
        width: 440px;
        z-index: 203;
        border-radius: 5px;
    }
    /*==================================Tiêu đề và button đóng===========================*/
        .popup .popup-2 .popup-title {
            display: flex;
            font-weight: bold;
            font-size: 15px;
            margin: 24px;
            height: 20px;
            width: 100%;
            margin-bottom: 24px;
        }

            .popup .popup-2 .popup-title button {
                position: absolute;
                height: 20px;
                width: 20px;
                right: 0px;
                top: 0px;
                background-image: url('../../contents/icons/x.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border: none;
                outline: none;
                padding: 5px;
                background-color: #ffffff;
                border-top-right-radius: 5px;
            }

                .popup .popup-2 .popup-title button:hover {
                    background-color: #e5e5e5;
                    border-radius: 0px 0px 4px 4px;
                }

        /*=============== Phần nội dung đưa ra cảnh báo======================*/
        .popup .popup-2 .popup-confirm {
            width: 100%;
            height: 40px;
            background: #FFF;
            display: flex;
            line-height: 40px;
            margin-bottom: 24px;
        }

            .popup .popup-2 .popup-confirm .warn-icon {
                width: 40px;
                height: 40px;
                background: #e5e5e5;
                border-radius: 20px;
                margin-left: 24px;
                margin-right: 10px;
            }

                .popup .popup-2 .popup-confirm .warn-icon .fas {
                    font-size: 17px;
                    margin: 0px;
                    transform: translate(11px, -6px);
                    position: absolute;
                }


        /*======================================Footer popup=====================*/
        .popup .popup-2 .dialog-footer {
            position: absolute;
            display: flex;
            background-color: #E9EBEE;
            height: 60px;
            width: 100%;
            left: 0px;
            border-radius: 0 0 5px 5px;
        }
