/*Xử lý popup cảnh báo xóa*/
.popup .popup-delete {
    top: 90px;
    height: 192px;
}

    .popup .popup-delete .popup-confirm .warn-icon .fas {
        color: #F65454 !important;
    }

    .popup .popup-delete .dialog-footer .btn-save {
        background-color: #F65454;
    }

        .popup .popup-delete .dialog-footer .btn-save:hover {
            background-color: #FF6A6A;
        }

        .popup .popup-delete .dialog-footer .btn-save .delete-2 {
            margin-left: 18px;
        }

    .popup .popup-delete #question-delete {
        width: 330px;
        height: 40px;
        overflow: hidden;
    }

    .popup .popup-delete .dialog-footer .btn-no {
        margin-left: 12px;
    }