/* Toast thông báo khi thực hiện các nút thêm, sửa xóa */
#snackbar, #snackbar_fail {
    visibility: hidden;
    display: flex;
    height: 32px;
    width: 100px;
    margin-left: -125px;
    text-align: center;
    border: none;
    line-height: 32px;
    border-radius: 4px;
    position: fixed;
    z-index: 200;
    right: 70px;
    bottom: 100px;
    font-size: 11px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

/*========================= Định dạng các icon=====================*/

.fas {
    line-height: 48px;
}

.fa-check-circle, .fa-exclamation-triangle {
    margin-left: 24px;
}

.fa-times {
    position: absolute;
    right: 12px;
}
#snackbar_fail{
    color: #F65454;
    background-color:#FFEBEB;
    padding-left:50px;
}

#snackbar{
    color: #01B075;
    padding-left: 50px;
    background-color: #EBF9F4;
}
/*===========================Hiển thị khi bấm nút==================== */
#snackbar.show, #snackbar_fail.show {
    visibility: visible; /* Hiển thị*/
    /* Hoạt ảnh xất hiện */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Hoạt ảnh ra vào của toast */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 150px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 150px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 150px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
