/* Toast thông báo khi thực hiện các nút thêm, sửa xóa */
#snackbar, #snackbar_fail {
    visibility: hidden;
    display: flex;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 48px;
    position: fixed;
    z-index: 200;
    left: 50%;
    top: 30px;
    font-size: 13px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

    #snackbar p, #snackbar_fail p {
        position: absolute;
        top: 2px;
        left: 60px;
    }

 .fas {
        color: #BAFFE7 !important;
        font-size: 24px;
        line-height: 48px;
    }

    #snackbar_fail .fas {
        color: #FFCECE !important;
    }

.fa-check-circle, .fa-exclamation-triangle {
    margin-left: 24px;
}

.fa-times {
    position: absolute;
    right: 12px;
}
    /*Hiển thị khi bấm nút */
#snackbar.show, #snackbar_fail.show {
    visibility: visible; /* Hiển thị*/
    /* Hoạt ảnh xất hiện */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Hoạt ảnh ra vào của toast */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}
